


#grid-container{
    
        border: 2px solid #02292b;
        border-radius: 1rem;
        display: grid;
        grid-template-rows: repeat(var(--rowNum), minmax(0px, 1fr));
        grid-template-columns: repeat(var(--colNum), minmax(0px, 1fr));
        grid-gap: 1px;
        width: 960px;
        height: 960px;
        justify-content: center;
        align-content: center;
    
}
.grid{
    background-color: aqua;
    border: black;
}